:root{
    --icons-menu-color: #f5f5f5;
    --navbar-bg-color: #2c2c2c;
    --footer-bg-color: #f5f5f5;
    --footer-text-color: #ffffff;
    --bar-footer-border-color: #444444;
    --animate-duration: 5000ms;
    --animate-delay: 50ms;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 60px;
    min-height: calc(100vh - 60px);
}

.TwoMiddle  {
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    animation-duration: var(--animate-duration);
    animation-delay: var(--animate-delay);
    font-size: 40px;
    font-weight: 700;
}   