<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}title{% endblock %}</title>
  <link rel="stylesheet" href="/static/base.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/all.min.css">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <div id="sidebar" class="sidebar">
  <button onclick="closeSidebar()" style="float:right;">닫기</button>
  <h3>메뉴</h3>
  <ul>
    <li><i class="fa-solid fa-user"></i><span id = 'side-bar-username' >aaa</span></li>
    <li><i class="fa-solid fa-house"></i><a href="/"> Home</a></li>
  </ul>
</div>
  <nav class="navbar">
    <div class="logo">
      <i class="fa-solid fa-plus"></i>
      <a class="aa" href="/">Mathematics</a>
    </div>
    <ul class="navmenu">
      <li><a class="aa" href="/">Home</a></li>
      <li><a class="aa" href="/about">About</a></li>
      {% if username %}
      <li><a class="aa" href="/auth/profile">Profile</a></li>
      <li><a class="aa" href="/auth/logout">Log Out</a></li>
      {% else %}
      <li><a class="aa" href="/auth/signin">Sign In</a></li>
      <li><a class="aa" href="/auth/signup">Sign Up</a></li>
      {% endif %}
    </ul>
    <ul class="navbar__icons">
      <li><i class="fa-solid fa-house" onclick="window.location.href = '/'"></i></li>
      <li><i class="fab fa-slack"></i></li>
    </ul>
    <ul class="navbar__icons">
      <li><i class="fa-solid fa-globe"></i></li>
      <li><i class="fa-solid fa-bars"></i></li>
    </ul>
  </nav>
  <div class="content-wrapper">
    {% block content %}{% endblock %}
  </div>
  <footer>
    <p>© 2025 sfadfe. All rights reserved.</p>
    <p><i class="fa-brands fa-discord"></i> discord: aa_100</p>
    <p><i class="fa-solid fa-envelope"></i> Mail: seojong2019@gmail.com</p>
  </footer>
</body>
<script>
function openSidebar() {
  var username = '{{ username }}';
  if (username && username !== 'None' && username !== '') {
    document.getElementById('sidebar').classList.add('open');
    document.getElementById('side-bar-username').innerText = username;
  }
}
function closeSidebar() {
  document.getElementById('sidebar').classList.remove('open');
}

document.addEventListener('click', function(event) {
  const sidebar = document.getElementById('sidebar');
  const barsIcon = document.querySelector('.fa-bars');
  if (sidebar.classList.contains('open') && 
      !sidebar.contains(event.target) && 
      !barsIcon.contains(event.target)) {
    closeSidebar();
  }
});

document.querySelector('.fa-bars').onclick = openSidebar;
</script>