<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "base.html" %}
    {% block title %}Home{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    {% block extra_css %}
        <Link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/css/all.min.css">
    {% endblock %}

</head>
<body>
    {% block content %} <h1 class="TwoMiddle">Hello, World!</h1> {% endblock %}
</html>