{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block extra_css %}
    <Link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="/static/css/all.min.css">
{% endblock %}
{% block content %}
  
<div class="login-form-wrapper">
  <div class="login-form">
    <div class = 'form-title'>Sign In</div>
    <form id="login-form" method="post" action="/auth/login">
      <label>Username<input type="text" name="username" required></label>
      <label>Password<input type="password" name="password" required></label>
      <button type="submit">Login</button>
    </form>
    <div id="sign-in-message"></div>
  </div>
</div>
<div class = 'empty'></div>
  <script>
    document.getElementById('login-form').onsubmit = async function(e) {
      e.preventDefault();
      const form = e.target;
      const data = {
        username: form.username.value,
        password: form.password.value
      };
      const res = await fetch('/auth/login', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(data)
      });
      const msg = document.getElementById('login-message');
      if (res.ok) {
        msg.textContent = "Login successful!";
        window.location.href = "/";
      } else {
        const err = await res.json();
        msg.textContent = err.detail || "Login failed";
      }
    };
  </script>
{% endblock %}